<!-- all handlerbars -->
<style>


.card-title {
  margin-bottom: 0.5rem; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; 
  cursor: pointer;
}
.card-title::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  background-color: white; /* Set the background color as needed */
  padding: 0.5rem; /* Set the padding as needed */
  z-index: 1; /* Ensure the tooltip is on top */
  white-space: normal;
  overflow: visible;
  max-width: none;
  display: none;
  height: auto;
}

.card-title:hover::after {
  display: inline-block;
  height: auto;
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 100%; } }

h3{
    color:#000000;
}
</style>
<main>
    <br>
    <h3 class="text-center">Current Listings: Find Your Perfect Rental</h3>
    <br>

    <div class="container" >
            <div class="row" style="margin-left: 10px; margin-right:10px;">
                {{#each posts}}
                <div class="col-sm-4 mb-3" >
                    <img src="public/images/post1.jpg" alt="Apartment Photo" class="card-img-top aptPhoto rounded-2" style="border-radius: 0.5rem !important;">

                    <div class="card post-details-card border-0" style="background-color: #ffffff; border-radius: 0.5rem !important ; ">

                        <div class="card-body text-center">
                            
                                <h4 class="card-title" style="color: #000000;" data-title="{{this.postTitle}}">{{this.postTitle}}</h4>
                            
                            
                            
                                  <div class="details">
                                      <span class="card-text d-block mb-3">Location: {{this.preference.location}}</span>
                                      <p class="card-text mb-3">Date Posted: {{this.postDate}}</p>
                                      <p class="card-text mb-3">{{this.userId}}</p>
                                      <p class="mb-0 text-center">
                                          <a href="/posts/{{this._id}}" class="btn btn-primary btn-sm py-2 px-3">See details</a>
                                      </p>
                                  </div>
                              
                              

                          
                            
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div> 
</main>