<!-- all handlerbars -->
<main>


    <div class="container test">

      <h3 class="text-center">Current Listings: Find Your Perfect Rental</h3>

        <br>

        {{!-- {{#each posts}}
        <div class="card post-details-card mb-3">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm">
                        {{!-- <img src="/posts/postpic/{{this._id}}" alt="Apartment Photo" class="aptPhoto" /> 
                        <img src="public/images/post1.jpg" alt="Apartment Photo" class="aptPhoto" />

                    </div>
                    <div class="col-sm">

                        <a href="/posts/{{this._id}}">
                            <h2>{{this.postTitle}}</h2>
                        </a>
                        <p>Location: {{this.preference.location}}</p>
                         <p class="postBodyText">{{this.postBody}} </p> 

                        <p>Date Posted: {{this.postDate}}</p>
                    </div>
                    <div class="col-sm">
                        <p class="text-end" style="margin-right:10px">{{this.userId}}</p>

                    </div>
                </div>
            </div>

        </div>
        {{/each}} --}}

        <div class="container" >
            <div class="row" style="margin-left: 10px; margin-right:10px;">
                {{#each posts}}
                <div class="col-sm-4 mb-3" >
                    <img src="public/images/post1.jpg" alt="Apartment Photo" class="card-img-top aptPhoto rounded-2" style="border-radius: 0.5rem !important;">

                    <div class="card post-details-card border-0" style="background-color: #ffffff; border-radius: 0.5rem !important ; ">

                        <div class="card-body text-center">
                            
                                <h4 class="card-title" style="color: #000000;" data-title="{{this.postTitle}}">{{this.postTitle}}</h4>
                            
                            
                            
                                  <div class="details">
                                      <span class="card-text d-block mb-3">Location: {{this.preference.location}}</span>
                                      <p class="card-text mb-3">Date Posted: {{this.postDate}}</p>
                                      <p class="card-text mb-3">{{this.userId}}</p>
                                      <p class="mb-0 text-center">
                                          <a href="/posts/{{this._id}}" class="btn btn-primary btn-sm py-2 px-3">See details</a>
                                      </p>
                                  </div>
                              
                              

                          
                            
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div> 

     {{!--  --}}

</main>