<main>
    <style>

    </style>

    <div class="container-fluid">
        <h2 class="font-weight-light text-center"> &nbsp; &nbsp;Recommended Roommates</h2><br>
        <h6 class="font-weight-light text-center"> &nbsp; &nbsp;An email containing Recommended Roommates has been sent to your account.</h6>

        
 {{#each userRec}}
            <div class="col-md-4">
               
                <div class="card card-userRec card-body justify-content-center" style="
    margin-top: 10px;
    margin-bottom: 8px;
">

                    
                    {{!-- <h3><a href="/users/checkUser/{{this._id}}">{{this.firstName}}</a></h3> --}}

                    <div class="item text-center">
              <div class="testimonial">
                {{!-- <img
                  src="../public/images/person_1-min.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-30 mb-4"
                /> --}}
                <div class="rate">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <h3 class="h5 text-primary mb-4"><a href="/users/checkUser/{{this._id}}">{{this.firstName}}</a></h3>
                <blockquote>
                  <p>
                    &ldquo;{{this.aboutMe}}.&rdquo;
                  </p>
                </blockquote>
                <p class="text-black-50">{{this.nationality}}, {{this.gender}}</p>
              </div>
            </div>

                
                </div>
                
            </div>
{{/each}}
        
       

        {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

     <br><h3 class="mt-2" style="text-align: center;"> Above are the Recommended Users</h3>
    <script>

    </script>
</main>